* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.courseHighlights {
	padding: 32px;
}

.courseContainer {
	margin-top: 32px;
}

#hero-jumbo {
	background-image: url('./hero-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 15px;
	height: 40vh;
	display: flex;
	align-items: center;
	opacity: 95%;
	margin-top: 30px;
}
